{{template "headerlayout"}}
<title>Salon Isluad | Bienvenido</title>
{{template "bodytop"}}
<!-- Header -->
{{template "header"}}

<!-- Navigation Bar -->
 {{template "navbar"}}

<!-- Cotizaciones section -->
 {{template "main-9"}}
 
 <!-- Category section -->
 <a id="scroll-down"></a>
 {{template "main-10"}}


{{template "modal-1"}}
{{template "toast-1"}}
 <!-- Footer -->
{{template "footer"}}
{{template "footerlayout"}}
<script src="Recursos/Locales/Index/Js/cotizaciones.js"></script>
{{template "bodybottom"}}