{{template "headerlayout"}}
<title>Salon Isluad | Bienvenido</title>
{{template "bodytop"}}
<!-- Header -->
{{template "header"}}

<!-- Navigation Bar -->
 {{template "navbar"}}

<!-- Section 1  Video-->
{{template "main-1"}}

<!-- Section 2 Card 1-->
<a id="scroll-down"></a>
{{template "main-2"}}

<!-- Section 3 Card 2-->
{{template "main-3"}}

<!-- Section 4 Card 3-->
{{template "main-4"}}

<!-- Section 5 Location-->
{{template "main-5"}}

<!-- Footer -->
{{template "modal-1"}}
{{template "footer"}}

{{template "footerlayout"}}
{{template "bodybottom"}}