{{define "headerlayout"}}
<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="Recursos/Generales/Plugins/Bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" type="text/css" href="Recursos/Locales/Index/Css/index.css">
    {{template "font-montserrat"}}
    {{end}}

    {{define "bodytop"}}
</head>

<body>
    {{end}}

    {{define "footerlayout"}}
    <script src="Recursos/Generales/Plugins/Jquery/jquery-3.7.1.min.js"></script>
    <script src="Recursos/Generales/Plugins/Bootstrap/bootstrap.bundle.min.js"></script>
    <script src="Recursos/Locales/Index/Js/index.js"></script>
    {{end}}

    {{define "bodybottom"}}
</body>

</html>
{{end}}