 {{define "main-1"}}
<section class="hero">
    <div class="hero__overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" loading="lazy" class="hero__video">
      <source src="Recursos/Videos/main.MP4" type="video/mp4">
    </video>
    <div class="hero__content h-100 container-custom position-relative">
      <div class="d-flex h-100 align-items-center hero__content-width">
        <div class="text-white">
          <h1 class="hero__heading fw-bold mb-4">Eventos increibles, espacios inolvidables.</h1>
          <p class="lead mb-4">Reserva tu Boda, XV años, Cumpleaños, Bautizo o cualquier tipo de evento.</p>
          <a href="/reservaciones" class="mt-2 btn btn-lg btn-outline-light" role="button">Reserva Ahora</a>
        </div>
      </div>
    </div>
    <a href="#scroll-down" class="hero__scroll-btn">
      Explora <i class="bi bi-arrow-down-short"></i>
    </a>
</section>
{{end}}

{{define "main-2"}}
<section class="steps container-custom">
    <div class="row">
        <div class="col-12 col-sm-6 d-md-flex justify-content-md-center">
            <img src="Recursos/Imagenes/Fondos/card-paquetes.jpg" class="img-fluid pb-4 steps__section-thumbnail" alt="Paquetes" width="553" height="746" loading="lazy">
        </div>
        <div class="col-12 col-sm-6 align-self-center justify-content-md-center">
            <div class="steps__content-width">
                <span>01</span>
                <h1 class="h2 mb-4">Paquetes</h1>
                <p>En nuestra seccion de paquetes podras encontrar solo los mejores productos y servicios.</p>
                <a href="/paquetes">Ver mas <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>
{{end}}

{{define "main-3"}}
<section class="steps steps__background">
    <div class="container-custom">
        <div class="row">
            <div class="col-12 col-sm-6 d-md-flex justify-content-md-center order-sm-1">
                <img src="Recursos/Imagenes/Fondos/card-reservaciones-2.jpg" class="img-fluid pb-4 steps__section-thumbnail" alt="Reservaciones" width="553" height="746" loading="lazy">
            </div>
            <div class="col-12 col-sm-6 align-self-center justify-content-md-center">
                <div class="steps__content-width">
                    <span>02</span>
                    <h1 class="h2 mb-4">Reservaciones</h1>
                    <p>Haz tu reservación con anticipacion y planea el evento del año.</p>
                    <a href="/reservaciones">Ver mas <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
{{end}}

{{define "main-4"}}
<section class="steps container-custom">
    <div class="row">
        <div class="col-12 col-sm-6 d-md-flex justify-content-md-center">
            <img src="Recursos/Imagenes/Fondos/card-servicios.jpg" class="img-fluid pb-4 steps__section-thumbnail" alt="Servicios" width="553" height="746" loading="lazy">
        </div>
        <div class="col-12 col-sm-6 align-self-center justify-content-md-center">
            <div class="steps__content-width">
                <span>03</span>
                <h1 class="h2 mb-4">Servicios</h1>
                <p>Elige los servicios que mejor se adapten a los requisitos de tu evento y disfruta en grande.</p>
                <a href="/servicios">Ver mas <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>
{{end}}

{{define "main-5"}}
<section class="bg-dark text-white py-4">
    <div class="container-custom my-4">
        <div class="row">
            <div class="col-12 col-sm-4 mb-4">
                <iframe class="mb-4 img-fluid" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d963.8690816435696!2d-92.27043567167185!3d14.910532699097091!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x858e0f24775366d1%3A0xfb22a9e035667703!2sCentral%20Pte.%2069%2C%20Los%20Naranjos%2C%20Centro%2C%2030830%20Centro%2C%20Chis.!5e0!3m2!1ses-419!2smx!4v1731378615171!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <h5>Central pte, entre 16 y 18 av norte.</h5>
                <h5>Tapachula, Chiapas.</h5>
                <h5>962 284 2556.</h5>
                <h5>+52 1 962 284 2556 WhatsApp.</h5>
                <h5>salonisluad@hotmail.com</h5>
            </div>
            <div class="col-12 col-sm-8 mb-8 py-5">
                <h1>El lugar ideal para enmarcar tus mejores recuerdos.</h1>
                <h4 class="py-3">Tu evento especial en un lugar único!</h4>
                <a href="/cotizaciones" class="mt-2 btn btn-lg btn-outline-light" role="button">Cotiza Ahora</a>
            </div>
        </div>
    </div>
</section>
{{end}}

{{define "main-6"}}
<section class="hero">
    <div class="hero__content h-100 container-custom position-relative">
      <div class="d-flex h-100 align-items-center hero__content-width">
        <div class="text-white">
          <h1 class="hero__heading fw-bold mb-4">Nuestros servicios se adaptan a lo que requieres.</h1>
          <p class="lead mb-4">Realiza tu evento con el mejor entretenimiento y disfruta de nuestros maginificos banquetes.</p>
          <a href="/cotizaciones" class="mt-2 btn btn-lg btn-outline-light" role="button">Cotiza Ahora</a>
        </div>
      </div>
    </div>
</section>
{{end}}

{{define "main-7"}}
<section class="hero">
    <div class="hero__content h-100 container-custom position-relative">
      <div class="d-flex h-100 align-items-center hero__content-width">
        <div class="text-white">
          <h1 class="hero__heading fw-bold mb-4">Nuestros paquetes prediseñados se adaptan a lo que estas buscando.</h1>
          <p class="lead mb-4">Realiza tu evento con el mejor entretenimiento y disfruta de nuestros maginificos banquetes.</p>
          <a href="/cotizaciones" class="mt-2 btn btn-lg btn-outline-light" role="button">Cotiza Ahora</a>
        </div>
      </div>
    </div>
</section>
{{end}}

{{define "main-8"}}
<section class="hero">
    <div class="hero__content h-100 container-custom position-relative">
      <div class="d-flex h-100 align-items-center hero__content-width">
        <div class="text-white">
          <h1 class="hero__heading fw-bold mb-4">Reserva ahora y descubre por qué somos la elección perfecta.</h1>
          <p class="lead mb-4">Realiza tu evento con el mejor entretenimiento y disfruta de nuestros maginificos banquetes.</p>
          <a href="/cotizaciones" class="mt-2 btn btn-lg btn-outline-light" role="button">Cotiza Ahora</a>
        </div>
      </div>
    </div>
</section>
{{end}}

{{define "main-9"}}
<section class="hero">
    <div class="hero__content h-100 container-custom position-relative">
      <div class="d-flex h-100 align-items-center hero__content-width">
        <div class="text-white">
          <h1 class="hero__heading fw-bold mb-4">Cotizaciones</h1>
          <p class="lead mb-4">Nuestras cotizaciones se basan en los diferentes conceptos que ofrecemos como servicios, los cuales se pueden personalizar a la medida de sus requisitos.</p>
          <p class="lead mb-4">De esta forma nos aseguramos que usted y sus invitados disfruten de un evento único e inolvidable.</p>
          <a href="#scroll-down" class="mt-2 btn btn-lg btn-outline-light" role="button">Crea tu cotización</a>
        </div>
      </div>
    </div>
    <a href="#scroll-down" class="hero__scroll-btn">
      Explora nuestras categorias<i class="bi bi-arrow-down-short"></i>
    </a>
</section>
{{end}}

{{define "main-10"}}
<section class="bg-dark text-white py-4">
  <div class="container-custom">
    <h4 class="py-2">Categorías</h4>
    <p class="lead mb-4">En esta sección podras elegir todas las categorias relacionadas con nuestros servicios</p>
  </div>
  <div class="container-custom my-4 d-flex">
    <div class="row">
      <div class="col-12 col-sm-4 mb-4 py-1">
        <h5>Planificación y Coordinación</h5>
        <!-- <a href="#" class="mt-2 btn btn-sm btn-outline-light" role="button" data-bs-toggle="modal" data-bs-target="#infoModal" data-bs-title="" id="" data-bs-value="" data-bs-content=""></a> -->
        <a href="#" class="mt-2 btn btn-sm btn-outline-light" role="button" data-bs-toggle="modal" data-bs-target="#infoModal" data-bs-title="Wedding planner" id="WeddingPlanner" data-bs-value="WeddingPlanner" data-bs-content="¿Qué hace un wedding planner? Para entender qué es un wedding planner, hay que pensar en una persona experta que se encarga de asistir a los futuros cónyuges durante los preparativos de la boda y también el día de su celebración. Un coordinador que propone, asesora y se preocupa de que todo salga bien.">Wedding planner</a>
        <a href="#" class="mt-2 btn btn-sm btn-outline-light" role="button" data-bs-toggle="modal" data-bs-target="#infoModal" data-bs-title="Hostess" id="Hostess" data-bs-value="Hostess" data-bs-content="La Hostess es la primera persona del establecimiento que mantendrá el contacto con los invitados, por ello, tiene gran repercusión en la impresión inicial del invitado. La Hostess habrá de saludar cortésmente a todo invitado que asista al evento y acomodarlos en la mesa pertinente.">Hostess</a>
        <a href="#" class="mt-2 btn btn-sm btn-outline-light" role="button" data-bs-toggle="modal" data-bs-target="#infoModal" data-bs-title="Maestro de ceremonia" id="MaestroDeCeremonia" data-bs-value="MaestroDeCeremonia" data-bs-content="Es una persona que dependiendo del tipo de evento se encarga de dirigir o desarrollar el evento desde un punto protagónico. En otras palabras, estamos hablando de un anfitrión, el cual es el responsable de mantener el orden y captar la atención de las personas para que puedan disfrutar del evento.">Maestro de ceremonia</a>
        <a href="Javascript:alert('Niñera')" class="mt-2 btn btn-sm btn-outline-light" role="button">Niñera</a>
        <a href="Javascript:alert('Seguridad')" class="mt-2 btn btn-sm btn-outline-light" role="button">Seguridad</a>
        <a href="Javascript:alert('TransporteDeNovios')" class="mt-2 btn btn-sm btn-outline-light" role="button">Transporte de Novios</a>
        <a href="Javascript:alert('TransporteDeInvitados')" class="mt-2 btn btn-sm btn-outline-light" role="button">Transporte de Invitados</a>
      </div>

      <div class="col-12 col-sm-4 mb-4 py-1">
        <h5>Decoración y Ambientación</h5>
        <a href="Javascript:alert('Mobiliario')" class="mt-2 btn btn-sm btn-outline-light" role="button">Mobiliario</a>
        <a href="Javascript:alert('Carpa')" class="mt-2 btn btn-sm btn-outline-light" role="button">Carpa</a>
        <a href="Javascript:alert('PistaDeBaile')" class="mt-2 btn btn-sm btn-outline-light" role="button">Pista de baile</a>
        <a href="Javascript:alert('GlobosLED')" class="mt-2 btn btn-sm btn-outline-light" role="button">Globos LED</a>
        <a href="Javascript:alert('CentrosDeMesa')" class="mt-2 btn btn-sm btn-outline-light" role="button">Centros de mesa</a>
        <a href="Javascript:alert('Entelado')" class="mt-2 btn btn-sm btn-outline-light" role="button">Entelado</a>
        <a href="Javascript:alert('IluminacionAmbiental')" class="mt-2 btn btn-sm btn-outline-light" role="button">Iluminaciqón ambiental</a>
        <a href="Javascript:alert('AmbientacionFloral')" class="mt-2 btn btn-sm btn-outline-light" role="button">Ambientacion floral</a>
        <a href="Javascript:alert('DecoracionCeremoniaReligiosa')" class="mt-2 btn btn-sm btn-outline-light" role="button">Decoracion de ceremonia religiosa</a>
        <a href="Javascript:alert('DecoracionCivil')" class="mt-2 btn btn-sm btn-outline-light" role="button">Decoracion civil</a>
      </div>

      <div class="col-12 col-sm-4 mb-4 py-1">
        <h5>Música y Entretenimiento</h5>
        <a href="Javascript:alert('GrupoVersatil')" class="mt-2 btn btn-sm btn-outline-light" role="button">Grupo Músical</a>
        <a href="Javascript:alert('DJ')" class="mt-2 btn btn-sm btn-outline-light" role="button">DJ</a>
        <a href="Javascript:alert('MusicaCena')" class="mt-2 btn btn-sm btn-outline-light" role="button">Musica para cena</a>
        <a href="Javascript:alert('MusicaIglesia')" class="mt-2 btn btn-sm btn-outline-light" role="button">Musica en iglesia</a>
        <a href="Javascript:alert('Mariachi')" class="mt-2 btn btn-sm btn-outline-light" role="button">Mariachi</a>
        <a href="Javascript:alert('ShowSorpresa')" class="mt-2 btn btn-sm btn-outline-light" role="button">Show sorpresa</a>
        <a href="Javascript:alert('Callejonada')" class="mt-2 btn btn-sm btn-outline-light" role="button">Callejonada</a>
        <a href="Javascript:alert('CeremoniaEspcecial')" class="mt-2 btn btn-sm btn-outline-light" role="button">Ceremonia especial</a>
        <a href="Javascript:alert('Pirotecnia')" class="mt-2 btn btn-sm btn-outline-light" role="button">Pirotecnia</a>
      </div>

      <div class="col-12 col-sm-4 mb-4 py-1">
        <h5>Alimentos y Bebidas</h5>
        <a href="Javascript:alert('Banquete')" class="mt-2 btn btn-sm btn-outline-light" role="button">Banquete</a>
        <a href="Javascript:alert('MenuInfantil')" class="mt-2 btn btn-sm btn-outline-light" role="button">Menú infantil</a>
        <a href="Javascript:alert('MenuTrasnochador')" class="mt-2 btn btn-sm btn-outline-light" role="button">Menú trasnochador</a>
        <a href="Javascript:alert('MesaDePostres')" class="mt-2 btn btn-sm btn-outline-light" role="button">Mesa de postres</a>
        <a href="Javascript:alert('MesaQuesos')" class="mt-2 btn btn-sm btn-outline-light" role="button">Mesa de quesos, pan y carnes frías</a>
        <a href="Javascript:alert('Pastel')" class="mt-2 btn btn-sm btn-outline-light" role="button">Pastel</a>
        <a href="Javascript:alert('CandyBar')" class="mt-2 btn btn-sm btn-outline-light" role="button">Candy Bar</a>
        <a href="Javascript:alert('SnackBar')" class="mt-2 btn btn-sm btn-outline-light" role="button">Snack Bar</a>
        <a href="Javascript:alert('BarraCafe')" class="mt-2 btn btn-sm btn-outline-light" role="button">Coffe Bar</a>
        <a href="Javascript:alert('VinoBrindis')" class="mt-2 btn btn-sm btn-outline-light" role="button">Vino para brindis</a>
        <a href="Javascript:alert('CoctelBienvenida')" class="mt-2 btn btn-sm btn-outline-light" role="button">Cóctel de bienvenida</a>
        <a href="Javascript:alert('CarroShots')" class="mt-2 btn btn-sm btn-outline-light" role="button">Carro de shots</a>
      </div>

      <div class="col-12 col-sm-4 mb-4 py-1">
        <h5>Documentos y Ceremonias</h5>
        <a href="Javascript:alert('Iglesia')" class="mt-2 btn btn-sm btn-outline-light" role="button">Iglesia</a>
        <a href="Javascript:alert('Misales')" class="mt-2 btn btn-sm btn-outline-light" role="button">Misales</a>
        <a href="Javascript:alert('Ofrendas')" class="mt-2 btn btn-sm btn-outline-light" role="button">Ofrendas</a>
        <a href="Javascript:alert('PagoDerechosCiviles')" class="mt-2 btn btn-sm btn-outline-light" role="button">Pago de derechos ceremonia civil</a>
      </div>

      <div class="col-12 col-sm-4 mb-4 py-1">
        <h5>Fotografia y Recuerdos</h5>
        <a href="Javascript:alert('Fotografia')" class="mt-2 btn btn-sm btn-outline-light" role="button">Fotografía</a>
        <a href="Javascript:alert('Video')" class="mt-2 btn btn-sm btn-outline-light" role="button">Video</a>
        <a href="Javascript:alert('SetFotografico')" class="mt-2 btn btn-sm btn-outline-light" role="button">Set fotografíco</a>
        <a href="Javascript:alert('CabinaFotos')" class="mt-2 btn btn-sm btn-outline-light" role="button">Cabina de fotos instantáneas</a>
        <a href="Javascript:alert('LibroFirmas')" class="mt-2 btn btn-sm btn-outline-light" role="button">Libro de firmas</a>
        <a href="Javascript:alert('BurbujasBengCamp')" class="mt-2 btn btn-sm btn-outline-light" role="button">Burbujas, bengalas y campanas</a>
      </div>

      <div class="col-12 col-sm-4 mb-4 py-1">
        <h5>Servicios Especiales</h5>
        <a href="Javascript:alert('PlantaLuz')" class="mt-2 btn btn-sm btn-outline-light" role="button">Planta de luz</a>
        <a href="Javascript:alert('HotelesInvitados')" class="mt-2 btn btn-sm btn-outline-light" role="button">Hoteles para invitados</a>
        <a href="Javascript:alert('Invitaciones')" class="mt-2 btn btn-sm btn-outline-light" role="button">Invitaciones</a>
        <a href="Javascript:alert('Papeleria')" class="mt-2 btn btn-sm btn-outline-light" role="button">Papelería</a>
        <a href="Javascript:alert('HangOverKit')" class="mt-2 btn btn-sm btn-outline-light" role="button">Hangover kit</a>
        <a href="Javascript:alert('HorasExtrasDescorche')" class="mt-2 btn btn-sm btn-outline-light" role="button">Horas extras, descorche y meseros</a>
      </div>

    </div>
  </div>
</section>
{{end}}