 {{define "main-1"}}
<section class="hero">
    <div class="hero__overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" loading="lazy" class="hero__video">
      <source src="Recursos/Videos/main.MP4" type="video/mp4">
    </video>
    <div class="hero__content h-100 container-custom position-relative">
      <div class="d-flex h-100 align-items-center hero__content-width">
        <div class="text-white">
          <h1 class="hero__heading fw-bold mb-4">Eventos increibles, espacios inolvidables.</h1>
          <p class="lead mb-4">Reserva tu Boda, XV años, Cumpleaños, Bautizo o cualquier tipo de evento.</p>
          <a href="/reservaciones" class="mt-2 btn btn-lg btn-outline-light" role="button">Reserva Ahora</a>
        </div>
      </div>
    </div>
    <a href="#scroll-down" class="hero__scroll-btn">
      Explora <i class="bi bi-arrow-down-short text-white"></i>
    </a>
</section>
{{end}}

{{define "main-2"}}
<section class="steps container-custom">
    <div class="row">
        <div class="col-12 col-sm-6 d-md-flex justify-content-md-center">
            <img src="Recursos/Imagenes/Fondos/card-paquetes.jpg" class="img-fluid pb-4 steps__section-thumbnail" alt="Paquetes" width="553" height="746" loading="lazy">
        </div>
        <div class="col-12 col-sm-6 align-self-center justify-content-md-center">
            <div class="steps__content-width">
                <span>01</span>
                <h1 class="h2 mb-4">Paquetes</h1>
                <p>En nuestra seccion de paquetes podras encontrar solo los mejores productos y servicios.</p>
                <a href="/paquetes">Ver mas <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>
{{end}}

{{define "main-3"}}
<section class="steps steps__background">
    <div class="container-custom">
        <div class="row">
            <div class="col-12 col-sm-6 d-md-flex justify-content-md-center order-sm-1">
                <img src="Recursos/Imagenes/Fondos/card-reservaciones-2.jpg" class="img-fluid pb-4 steps__section-thumbnail" alt="Reservaciones" width="553" height="746" loading="lazy">
            </div>
            <div class="col-12 col-sm-6 align-self-center justify-content-md-center">
                <div class="steps__content-width">
                    <span>02</span>
                    <h1 class="h2 mb-4">Reservaciones</h1>
                    <p>Haz tu reservación con anticipacion y planea el evento del año.</p>
                    <a href="/reservaciones">Ver mas <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
{{end}}

{{define "main-4"}}
<section class="steps container-custom">
    <div class="row">
        <div class="col-12 col-sm-6 d-md-flex justify-content-md-center">
            <img src="Recursos/Imagenes/Fondos/card-servicios.jpg" class="img-fluid pb-4 steps__section-thumbnail" alt="Servicios" width="553" height="746" loading="lazy">
        </div>
        <div class="col-12 col-sm-6 align-self-center justify-content-md-center">
            <div class="steps__content-width">
                <span>03</span>
                <h1 class="h2 mb-4">Servicios</h1>
                <p>Elige los servicios que mejor se adapten a los requisitos de tu evento y disfruta en grande.</p>
                <a href="/servicios">Ver mas <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>
{{end}}

{{define "main-5"}}
<section class="bg-dark text-white py-4">
    <div class="container-custom my-4">
        <div class="row">
            <div class="col-12 col-sm-4 mb-4">
                <iframe class="mb-4 img-fluid" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d963.8690816435696!2d-92.27043567167185!3d14.910532699097091!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x858e0f24775366d1%3A0xfb22a9e035667703!2sCentral%20Pte.%2069%2C%20Los%20Naranjos%2C%20Centro%2C%2030830%20Centro%2C%20Chis.!5e0!3m2!1ses-419!2smx!4v1731378615171!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <h5>Central pte, entre 16 y 18 av norte.</h5>
                <h5>Tapachula, Chiapas.</h5>
                <h5>962 284 2556.</h5>
                <h5>+52 1 962 284 2556 WhatsApp.</h5>
                <h5>salonisluad@hotmail.com</h5>
            </div>
            <div class="col-12 col-sm-8 mb-8 py-5">
                <h1>El lugar ideal para enmarcar tus mejores recuerdos.</h1>
                <h4 class="py-3">Tu evento especial en un lugar único!</h4>
                <a href="/cotizaciones#scroll-down" class="mt-2 btn btn-lg btn-outline-warning" role="button">Cotiza Ahora</a>
            </div>
        </div>
    </div>
</section>
{{end}}

{{define "main-6"}}
<section class="hero serviciosmain">
  <div class="hero__overlay"></div>
    <div class="hero__content h-100 container-custom position-relative">
      <div class="d-flex h-100 align-items-center hero__content-width">
        <div class="text-white">
          <h1 class="hero__heading fw-bold mb-4">Nuestros servicios se adaptan a lo que requieres.</h1>
          <p class="lead mb-4">Realiza tu evento con el mejor entretenimiento y disfruta de nuestros maginificos banquetes.</p>
          <a href="/cotizaciones" class="mt-2 btn btn-lg btn-outline-light" role="button">Cotiza Ahora</a>
        </div>
      </div>
    </div>
</section>
{{end}}

{{define "main-7"}}
<section class="hero paquetesmain">
  <div class="hero__overlay"></div>
    <div class="hero__content h-100 container-custom position-relative">
      <div class="d-flex h-100 align-items-center hero__content-width">
        <div class="text-white">
          <h1 class="hero__heading fw-bold mb-4">Nuestros paquetes prediseñados se adaptan a lo que estas buscando.</h1>
          <p class="lead mb-4">Realiza tu evento con el mejor entretenimiento y disfruta de nuestros maginificos banquetes.</p>
          <a href="/cotizaciones" class="mt-2 btn btn-lg btn-outline-light" role="button">Cotiza Ahora</a>
        </div>
      </div>
    </div>
</section>
{{end}}

{{define "main-8"}}
<section class="hero reservacionesmain">
  <div class="hero__overlay"></div>
    <div class="hero__content h-100 container-custom position-relative">
      <div class="d-flex h-100 align-items-center hero__content-width">
        <div class="text-white">
          <h1 class="hero__heading fw-bold mb-4">Reserva ahora y descubre por qué somos la elección perfecta.</h1>
          <p class="lead mb-4">Realiza tu evento con el mejor entretenimiento y disfruta de nuestros maginificos banquetes.</p>
          <a href="/cotizaciones" class="mt-2 btn btn-lg btn-outline-light" role="button">Crea una cotización Ahora</a>
        </div>
      </div>
    </div>
</section>
{{end}}

{{define "main-9"}}
<section class="hero cotizacionesmain">
  <div class="hero__overlay"></div>
    <div class="hero__content h-100 container-custom position-relative">
      <div class="d-flex h-100 align-items-center hero__content-width">
        <div class="text-white">
          <h1 class="hero__heading fw-bold mb-4">Cotizaciones</h1>
          <p class="lead mb-4">Nuestras cotizaciones se basan en los diferentes conceptos que ofrecemos como servicios, los cuales se pueden personalizar a la medida de sus requisitos.</p>
          <p class="lead mb-4">De esta forma nos aseguramos que usted y sus invitados disfruten de un evento único e inolvidable.</p>
          <a href="#scroll-down" class="mt-2 btn btn-lg btn-outline-light" role="button">Crea tu cotización</a>
        </div>
      </div>
    </div>
    <a href="#scroll-down" class="hero__scroll-btn">
      Explora nuestras categorías<i class="bi bi-arrow-down-short"></i>
    </a>
</section>
{{end}}

{{define "main-10"}}
<section class="bg-dark text-white py-4">
  <div class="container-custom">
    <h4 class="py-2">Categorías</h4>
    <p class="lead mb-4">En esta sección podras elegir todas las categorías relacionadas con nuestros servicios</p>
  </div>
  <div class="container-custom my-4 d-flex">
    <div class="row">
        {{template "buttons"}}
    </div>
  </div>
</section>
{{end}}