{{define "modal-1"}}
<!-- Modal -->
<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="infoModalLabel">Título del Modal</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <p></p>
        <form>
            <div class="mb-6">
              <label for="message-text" class="col-form-label">Comentario:</label>
              <textarea class="form-control" id="message-text" placeholder="Agregar algo adicional"></textarea>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <a href="" class="mt-2 btn btn-sm btn-outline-success" role="button">Agregar</a>
        <a href="" class="mt-2 btn btn-sm btn-outline-danger" role="button">Remover</a>
        <button type="button" class="mt-2 btn btn-sm btn-outline-dark" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
{{end}}

{{define "modal-2"}}
<div class="modal fade" id="modalEvento" tabindex="-1" aria-labelledby="modalEventoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalEventoLabel">Detalles del Evento</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- El contenido del evento se llenará dinámicamente -->
      </div>
      <div class="modal-footer">
        <button type="button" class="mt-2 btn btn-sm btn-outline-dark" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
{{end}}

{{define "modal-3"}}
<div class="modal modal-lg fade" id="modalVer" tabindex="-1" aria-labelledby="modalVerLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalVerLabel">Detalles de la Cotización</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- El contenido del evento se llenará dinámicamente -->
      </div>
      <div class="modal-footer">
        <div class="container-fluid">
          <div class="d-flex justify-content-end">
              <button type="button" class="mt-2 btn btn-sm btn-outline-dark" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{end}}

{{define "modal-4"}}
<div class="modal modal-md fade" id="modalVerServicio" tabindex="-1" aria-labelledby="modalVerServicioLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalVerServicioLabel">Detalles del Servicio</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- El contenido del evento se llenará dinámicamente -->
      </div>
      <div class="modal-footer">
        <div class="container-fluid">
          <div class="d-flex justify-content-end">
              <button type="button" class="mt-2 btn btn-sm btn-outline-dark" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{end}}

{{define "toast-1"}}
<!-- Toast -->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">Isluad</strong>
      <small class="text-success">Servicio agregado</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Wedding planner
    </div>
  </div>

  <div id="deleteToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">Isluad</strong>
      <small class="text-danger">Servicio eliminado</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Wedding planner
    </div>
  </div>

  <div id="cotizacionToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">Isluad</strong>
      <small class="text-success">Cotizaciones</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Cotización enviada.
    </div>
  </div>

</div>
{{end}}